{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <h1 style="text-align: center;">Что использовалось в проекте</h1>
    <div style="text-align: center;">
        <div class="list-group">
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" checked>
            Python
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" checked>
            Django
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            C++
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Java
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Ruby
          </label>
        </div>
    </div>
  </div>
</div>
{% endblock %} 